apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaMirrorMaker2
metadata:
  name: my-mirror-maker
  namespace: kafka
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  version: 3.8.0
  replicas: 1
  # 【v1必須】Podの実行場所兼、書き込み先を定義
  target:
    alias: "cluster-k0"
    bootstrapServers: "my-cluster-a-kafka-bootstrap.kafka.svc.cluster.local:9092"
  
  # 【v1必須】ミラーリングのソース定義
  mirrors:
    # 1. k1 -> k0 の同期
    - source:
        alias: "cluster-k1"
        bootstrapServers: "my-cluster-b-kafka-bootstrap.kafka.svc.k8ssandra-1.mesh.local:9092"
        # IdentityReplicationPolicyはsource.configの中に書くのがv1の流儀
        config:
          replication.policy.class: "org.apache.kafka.connect.mirror.IdentityReplicationPolicy"
      topicsPattern: ".*\\.subscription\\.notifications"
      checkpointConnector:
        config:
          checkpoints.topic.replication.factor: 3
      heartbeatConnector:
        config:
          heartbeats.topic.replication.factor: 3

    # 2. k0 -> k1 の同期 (双方向)
    - source:
        alias: "cluster-k0"
        bootstrapServers: "my-cluster-a-kafka-bootstrap.kafka.svc.cluster.local:9092"
        config:
          replication.policy.class: "org.apache.kafka.connect.mirror.IdentityReplicationPolicy"
      topicsPattern: ".*\\.subscription\\.notifications"
