apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaMirrorMaker2
metadata:
  name: mm2-k1-to-k0
  namespace: kafka
spec:
  version: 4.1.1
  replicas: 1
  # 実行場所：k0 / 書き込み先：k0
  target:
    alias: "cluster-k0"
    bootstrapServers: "my-cluster-a-kafka-bootstrap.kafka.svc.cluster.local:9092"
    groupId: "mm2-group-k1-to-k0"
    configStorageTopic: "mm2-configs-k1-to-k0"
    offsetStorageTopic: "mm2-offsets-k1-to-k0"
    statusStorageTopic: "mm2-status-k1-to-k0"
  mirrors:
    - source:
        alias: "cluster-k1"
        bootstrapServers:
          172.18.0.7:32743,
          172.18.0.8:32743,
          172.18.0.9:32743,
          172.18.0.10:32743
        config:
          replication.policy.class: "org.apache.kafka.connect.mirror.IdentityReplicationPolicy"
      topicsPattern: "subscription.notifications"
      sourceConnector:
        config:
          replication.factor: 3
      checkpointConnector:
        config:
          checkpoints.topic.replication.factor: 3
      heartbeatConnector:
        config:
          heartbeats.topic.replication.factor: 3
