apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaMirrorMaker2
metadata:
  name: my-mirror-maker
  namespace: kafka
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  version: 3.8.0
  replicas: 1
  # ターゲット(実行場所): cluster-k0 (k8ssandra-0)
  connectCluster: "cluster-k0"
  clusters:
    - alias: "cluster-k0"
      bootstrapServers: "my-cluster-a-kafka-bootstrap.kafka.svc.cluster.local:9092"
    - alias: "cluster-k1"
      # 【重要】相手クラスター(k1)を指名するための専用FQDN
      bootstrapServers: "my-cluster-b-kafka-bootstrap.kafka.svc.k8ssandra-1.mesh.local:9092"

  mirrors:
    # A: k1 (相手) から k0 (自分) への同期
    - sourceCluster: "cluster-k1"
      targetCluster: "cluster-k0"
      sourceConnector:
        config:
          replication.policy.class: "org.apache.kafka.connect.mirror.IdentityReplicationPolicy"
          topicsPattern: ".*\\.subscription\\.notifications"
          replication.factor: 3
      checkpointConnector:
        config:
          checkpoints.topic.replication.factor: 3
      heartbeatConnector:
        config:
          heartbeats.topic.replication.factor: 3

    # B: k0 (自分) から k1 (相手) への同期
    - sourceCluster: "cluster-k0"
      targetCluster: "cluster-k1"
      sourceConnector:
        config:
          replication.policy.class: "org.apache.kafka.connect.mirror.IdentityReplicationPolicy"
          topicsPattern: ".*\\.subscription\\.notifications"
          replication.factor: 3
