apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaMirrorMaker2
metadata:
  name: mm2-k1-to-k0
  namespace: kafka
spec:
  version: 3.8.0
  replicas: 1
  # 実行場所：k0 / 書き込み先：k0
  target:
    alias: "cluster-k0"
    bootstrapServers: "my-cluster-a-kafka-bootstrap.kafka.svc.cluster.local:9092"
    groupId: "mm2-group-k1-to-k0"
    configStorageTopic: "mm2-configs-k1-to-k0"
    offsetStorageTopic: "mm2-offsets-k1-to-k0"
    statusStorageTopic: "mm2-status-k1-to-k0"
  mirrors:
    - source:
        alias: "cluster-k1"
        bootstrapServers: "my-cluster-kafka-b-bootstrap.kafka.svc.k8ssandra-1.mesh.local:9092"
        config:
          replication.policy.class: "org.apache.kafka.connect.mirror.IdentityReplicationPolicy"
      topicsPattern: ".*\\.subscription\\.notifications"
      checkpointConnector:
        config:
          checkpoints.topic.replication.factor: 3
