kafka:
  image:
    registry: docker.io
    repository: apache/kafka
    tag: "4.1.1"
    pullPolicy: IfNotPresent
  securityContext:
    runAsUser: 0
    fsGroup: 0
  volumeMounts:
    - name: kafka-data
      mountPath: /kafka/data
  persistence:
    enabled: true
    size: 5Gi
    mountPath: /kafka/data
replicaCount: 3

kraft:
  enabled: true
  controller:
    replicaCount: 3

zookeeper:
  enabled: false

persistence:
  enabled: true
  size: 100Gi

