image:
  registry: docker.io
  repository: bitnami/kafka
  tag: "3.9.0-debian-12-r10"
  pullPolicy: IfNotPresent
replicaCount: 3

kraft:
  enabled: true
  controller:
    replicaCount: 3

zookeeper:
  enabled: false

persistence:
  enabled: true
  size: 100Gi

