kafka:
  image:
    registry: docker.io
    repository: apache/kafka
    tag: "3.8.2"
    pullPolicy: IfNotPresent
replicaCount: 3

kraft:
  enabled: true
  controller:
    replicaCount: 3

zookeeper:
  enabled: false

persistence:
  enabled: true
  size: 100Gi

